.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.authpage_container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authpage_container_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.register_dietitian_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(xl) {
        justify-content: space-evenly;
    }
    @include respond(lg) {
        justify-content: space-evenly;
    }
    @include respond(md) {
        justify-content: space-evenly;
    }
    @include respond(sm) {
        justify-content: space-evenly;
    }
}

.register_dietitian_photo_and_quote {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_dietitian_photo_and_quote img {
    max-width: 100%;
    height: auto;
}

.register_dietitian_photo_and_quote h1 {
    font-size: 2rem;
    @include apply-font($font-headings);
    margin-top: 1rem;
}


.register_patient_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(xl) {
        justify-content: space-evenly;
    }
    @include respond(lg) {
        justify-content: space-evenly;
    }
    @include respond(md) {
        justify-content: space-evenly;
    }
    @include respond(sm) {
        justify-content: space-evenly;
    }
}

.register_patient_photo_and_quote {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_patient_photo_and_quote img {
    max-width: 110%;
    height: auto;
}

.register_patient_photo_and_quote h1 {
    font-size: 2rem;
    @include apply-font($font-headings);
    margin-top: 1rem;
}





.login_container {
    width: 30%;
}