.navbar_container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    
    padding: 0 2rem 0 0.5rem;
}

.navbar_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    
    text-decoration: none;
    transition: text-decoration 0.2s ease;

    &:hover {
        text-decoration: underline;
    }
}

.navbar_container--white {
    background-color: $White;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0, 0.25);
}

.navbar_container--white a {
    color: $Text-Black-Texts;
}

.navbar_container--green {
    background-color: $Dark-Green;
}

.navbar_container--green a {
    color: $Text-White-Texts;
}

.navbar_logo {
    max-height: 80%;
    width: auto;
}

.links_container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .questionnaire_link_container {
        position: relative;
        font-size: 1.5rem;

        a, 
        div {
            font-size: inherit;
        }

        div {   // red dot for showing importance for user
            position: absolute;
            top: 0;
            right: -0.5em;

            height: 0.6em;
            width: 0.6em;
            border-radius: 50%;

            background-color: $Red;

            animation: pulsing 2.5s linear infinite;
        }

        @keyframes pulsing {
            0% {
                top: 0;
                right: -0.5em;
                width: 0.6em;
                height: 0.6em;
            }
            10% {
                top: -0.10em;
                right: -0.6em;
                width: 0.75em;
                height: 0.75em;
            }
            20% {
                top: 0;
                right: -0.5em;
                width: 0.6em;
                height: 0.6em;
            }
            30% {
                top: -0.10em;
                right: -0.6em;
                width: 0.75em;
                height: 0.75em;
            }
            40% {
                top: 0;
                right: -0.5em;
                width: 0.6em;
                height: 0.6em;
            }
            100% {
                width: 0.6em;
                height: 0.6em;
            }
        }
    }
}